# Obsidian
.trash
.obsidian/workspace*
!.obsidian/workspaces.json

.obsidian/plugins/*/*
!obsidian/plugins/*/manifest.json
!obsidian/plugins/*/data.json
!obsidian/plugins/*/data.json.copy

.obsidian/plugins/copilot/data.json
.obsidian/plugins/obsidian-textgenerator-plugin/data.json
.obsidian/plugins/smart-second-brain/data.json
.obsidian/plugins/recent-files-obsidian/data.json

# Private spaces
private/
private-*/
